@model IEnumerable<ModelLayer.Models.Employee>

@{
    ViewData["Title"] = "GetEmployees";
}

<link rel="stylesheet" href="~/css/Getall.css" />

<h1>GetEmployees</h1>

<p>
    <a asp-action="AddEmployee"><img src="~/Assests/add-24px.svg" style="background-color:limegreen"/></a>
    <br/>
    <a asp-action="Login">Login</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeProfile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeGender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeDepartment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeSalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeNotes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeName)
            </td>
            <td>
                <img src=@Url.Content(item.EmployeeProfile) />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeGender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeDepartment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeSalary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeNotes)
            </td>
            <td>
                    <a asp-action="UpdateEmployee"><img src="~/Assests/create-black-18dp.svg" /></a>
                    @Html.ActionLink("Edit", "UpdateEmployee", new { id = item.EmployeeId }) |
                    @Html.ActionLink("Details", "GetEmployeeData", new { id=item.EmployeeId }) |
                    <a asp-action="DeleteEmployee"><img src="~/Assests/delete-black-18dp.svg" /></a>
                    @Html.ActionLink("Delete", "DeleteEmployee", new { id=item.EmployeeId })
            </td>
        </tr>
}
        @foreach(ModelLayer.Models.Employee Emp in (List<ModelLayer.Models.Employee>)TempData["EmployeeIds"])
        {
            <tr>
                <td>@Emp.EmployeeName</td>
            </tr>
        }
    </tbody>
</table>
