@model ModelLayer.Models.Employee

@{
    ViewData["Title"] = Model.EmployeeName;
}

<div>
    <h4 style="text-align:center;font-weight:bold">@Html.DisplayFor(model => model.EmployeeName)</h4>
    <hr />
    <dl class="row" style="background-color:yellowgreen;text-align:center">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeProfile)
        </dt>
        <dd class = "col-sm-10">
            <img src=@Url.Content(Model.EmployeeProfile) />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeGender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeGender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeDepartment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeDepartment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeSalary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeNotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeNotes)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "UpdateEmployee", new {  id = Model.EmployeeId  }) |
    <a asp-action="GetEmployees">Back to List</a>
</div>
<footer>
    <div class="container" style="background-color:black;color:white;text-align:right">
        &copy; 2023 - EmployeePayrollMVCApplication - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
